In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv("matches.csv")
data.head() # .head() is a function that shows the first 5 rows of the dataframe

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [3]:
data.shape  
# .shape is a Atrribute not a function or method and returns a tuple with the number of rows and columns in the dataframe

(636, 18)

In [4]:
data.info()
# .info() is a method that provides a concise summary of the DataFrame, including the number of 
# non-null entries and data types of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [5]:
data.describe()
# .describe() is a method that generates descriptive statistics of the DataFrame,

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,636.000000,636.000000,636.000000,636.000000,636.000000,0.0
mean,318.500000,2012.490566,0.025157,13.682390,3.372642,NaN
std,183.741666,2.773026,0.156726,23.908877,3.420338,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,159.750000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,318.500000,2012.000000,0.000000,0.000000,4.000000,NaN
75%,477.250000,2015.000000,0.000000,20.000000,7.000000,NaN
max,636.000000,2017.000000,1.000000,146.000000,10.000000,NaN

In [6]:
# If you want to fetch a specific column, you can do it like this:
dt0 = data['team1']  # This will return a Series containing all values in the 'team1' column
# If you want to fetch multiple columns, you can do it like this:
dt = data[['team1', 'team2']]  # This will return a DataFrame containing only the 'team1' and 'team2' columns

In [7]:
# If you want to fetch a specific row, you can use the .loc or .iloc methods:
dt_row = data.iloc[2]  # This will return the first row of the DataFrame as a Series
dt_row
# If you want to fetch multiple rows, you can do it like this:
dt_rows = data.iloc[2:5]  # This will return rows 2 to 4 (inclusive) as a DataFrame
dt_rows
# If you want to fetch a specific row and column, you can do it like this:
dt_row_col = data.loc[2, 'team1']  # This will return the value in the 'team1' column of the first row
dt_row_col

'Gujarat Lions'

In [8]:
# If you want to fetch specific columns, you can use the .iloc methods:
dt_cols = data.iloc[:, [0,1]]  # This will return the first two columns of the DataFrame
dt_cols

      id  season
0      1    2017
1      2    2017
2      3    2017
3      4    2017
4      5    2017
..   ...     ...
631  632    2016
632  633    2016
633  634    2016
634  635    2016
635  636    2016

[636 rows x 2 columns]

In [9]:
mask = (data['city']=='Hyderabad') # This creates a boolean mask where the 'city' column is equal to 'Hyderabad'
dt_filtered = data[mask]  # This filters the DataFrame to only include rows where the 'city' is 'Hyderabad'
dt_filtered.shape  # This will show the shape of the filtered DataFrame
# So you can see that the 49 rows are from Hyderabad
# If you want to filter the DataFrame based on multiple conditions, you can do it like this:
mask_multiple = (data['city']=='Hyderabad') & (data['season']==2017)  # This creates a boolean mask where the 'city' is 'Hyderabad' and the 'season' is 2017
dt_filtered_multiple = data[mask_multiple]  # This filters the DataFrame to only include rows where the 'city' is 'Hyderabad' and the 'season' is 2017

In [10]:
def get_city_match_count(city):
    mask = (data['city'] == city)  # Create a boolean mask for the specified city
    return data[mask].shape[0]  # Return the number of rows for that city

In [11]:
get_city_match_count('Bangalore')  # Call the function with 'Bangalore' as the argument

66

In [12]:
get_city_match_count('Rajkot')  # Call the function with 'Rajkot' as the argument

10

In [13]:
# If you want to filter the DataFrame based on multiple conditions, you can do it like this:
# This creates a boolean mask where the 'city' is 'Hyderabad' and the 'season' is 2017
mask_multiple = (data['city']=='Hyderabad') & (data['season']==2017) 
dt_filtered_multiple = data[mask_multiple]  # This filters the DataFrame to only include rows where the 'city' is 'Hyderabad' and the 'season' is 2017
dt_filtered_multiple

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
18,19,2017,Hyderabad,2017-04-17,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,5,0,B Kumar,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,A Deshmukh,NaN
20,21,2017,Hyderabad,2017-04-19,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,15,0,KS Williamson,"Rajiv Gandhi International Stadium, Uppal",CB Gaffaney,NJ Llong,NaN
35,36,2017,Hyderabad,2017-04-30,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,48,0,DA Warner,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,S Ravi,NaN
42,43,2017,Hyderabad,2017-05-06,Rising Pune Supergiant,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Rising Pune Supergiant,12,0,JD Unadkat,"Rajiv Gandhi International Stadium, Uppal",KN Ananthapadmanabhan,AK Chaudhary,NaN
46,47,2017,Hyderabad,2017-05-08,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,normal,0,Sunrisers Hyderabad,0,7,S Dhawan,"Rajiv Gandhi International Stadium, Uppal",KN Ananthapadmanabhan,M Erasmus,NaN
58,59,2017,Hyderabad,2017-05-21,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",NJ Llong,S Ravi,NaN

In [14]:
data['winner'].value_counts()
# This will return a Series containing the counts of unique values in the 'winner' column

winner
Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: count, dtype: int64

In [15]:
data['team1'].value_counts()

team1
Mumbai Indians                 82
Kings XI Punjab                77
Chennai Super Kings            77
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Delhi Daredevils               63
Rajasthan Royals               54
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  14
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: count, dtype: int64

In [16]:
data['team2'].value_counts()

team2
Delhi Daredevils               84
Royal Challengers Bangalore    82
Kolkata Knight Riders          80
Mumbai Indians                 75
Kings XI Punjab                71
Rajasthan Royals               64
Chennai Super Kings            54
Deccan Chargers                32
Sunrisers Hyderabad            30
Pune Warriors                  26
Gujarat Lions                  16
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: count, dtype: int64

In [17]:
data['result'].value_counts()

result
normal       626
tie            7
no result      3
Name: count, dtype: int64